<!-- <div class="center">
	<h1>{{header}}</h1>
	<h2 ng-show="!showForm">Let's check out the power of Spark.</h2>
	<div ng-show="showForm">
		<div class="small-text label">Create Team Name</div>
		<div class="input-container">
			<input type="text" placeholder="Super Name Here" validate-email="create-team" ng-model='teamName'></input>
			<i class="icon-right-arrow" ng-click="createTeam()"></i>
		</div>
		<div class="small-text extra">
			Add Description
		</div>
		<div class="small-text right extra">
			<span ng-click="openApplication()">Skip</span>
		</div>
		<div class="suggestion-container">
			<div class="title">Suggestions</div>
			<div class="user-container" ng-repeat="user in users track by $index" user-container></div>
			<div class="user-container">
				<div class="icon-add"></div>
				<div class="name">Invite</div>
			</div>
		</div>
	</div>
	
</div> -->
<div class="processing">
	<img src="./img/boom.png"></img>
</div>

<div class="finalstatement-container">
	<div class="first-half">Now Check</div>
	<div class="second-half">Out The Powers Of Spark</div>
</div>
<div class="fly-guy-container">
	<img class="flying-guy" src="./img/flying-guy.png"></img>
	<div class="dialogue final" animate="dialogue">
		<h2 class="text center">Great Job Superhero!</h2>
	</div>
</div>