<div class="image-container">
	<div class="name-tag" animate="tag" tag-value="enabler">
		<div class="text">Mr Enabler</div>
	</div>
	<div class="clip-container">
		<img class="superhero" src="./img/superman.png"></img>
	</div>
	<!-- <img class="dialogue" src="./img/dialogue-bubble.png"></img> -->
	<div class="dialogue" animate="dialogue"  tag-value="enabler">
		<h2 class="text center">Are you ready to become a superhero?!</h2>
	</div>
</div>
<div class="info-container">
	<div class="center">
		<!-- <h1>Welcome to Spark</h1> -->
		<div class="text">Cisco Spark enables  heroes of today to  become superheroes  of tomorrow…</div>
		<button ng-click="next()">Next</button>
	</div>
</div>